.mloader {
    width:48px;
    height:48px;
    display:inline-block;
    box-sizing:border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Colorful Square */
.s-colorful {
    animation: squarecolorful 1.6s linear infinite;
}

@-webkit-keyframes squarecolorful {
    0% {
        border-top: 10px solid #2196f3;
        border-left: transparent;
        border-bottom: transparent;
        border-right: transparent;
        background: #81d4fa;
        transform: rotate(0deg);
    }

    25% {
        border-top: transparent;
        border-left: transparent;
        border-bottom: transparent;
        border-right: 10px solid #d32f2f;
        background: #80cbc4;
        transform: rotate(90deg);
    }

    50% {
        border-top: transparent;
        border-left: transparent;
        border-bottom: 10px solid #d32f2f;
        border-right: transparent;
        background: #ef9a9a;
        transform: rotate(180deg);
    }

    75% {
        border-top: transparent;
        border-left: 10px solid #fff59d;
        border-bottom: transparent;
        border-right: transparent;
        background: #fbc02d;
        transform: rotate(270deg);
    }

    100% {
        border-top: 10px solid #2196f3;
        border-left: transparent;
        border-bottom: transparent;
        border-right: transparent;
        background: #81d4fa;
        transform: rotate(360deg);
    }
}

@-moz-keyframes squarecolorful {
    0% {
        border-top: 10px solid #2196f3;
        border-left: transparent;
        border-bottom: transparent;
        border-right: transparent;
        background: #81d4fa;
        transform: rotate(0deg);
    }

    25% {
        border-top: transparent;
        border-left: transparent;
        border-bottom: transparent;
        border-right: 10px solid #d32f2f;
        background: #80cbc4;
        transform: rotate(90deg);
    }

    50% {
        border-top: transparent;
        border-left: transparent;
        border-bottom: 10px solid #d32f2f;
        border-right: transparent;
        background: #ef9a9a;
        transform: rotate(180deg);
    }

    75% {
        border-top: transparent;
        border-left: 10px solid #fff59d;
        border-bottom: transparent;
        border-right: transparent;
        background: #fbc02d;
        transform: rotate(270deg);
    }

    100% {
        border-top: 10px solid #2196f3;
        border-left: transparent;
        border-bottom: transparent;
        border-right: transparent;
        background: #81d4fa;
        transform: rotate(360deg);
    }
}

@keyframes squarecolorful {
    0% {
        background: #81d4fa;
        transform: rotate(0deg);
    }

    25% {
        background: #80cbc4;
        transform: rotate(90deg);
    }

    50% {
        background: #ef9a9a;
        transform: rotate(180deg);
    }

    75% {
        background: #fbc02d;
        transform: rotate(270deg);
    }

    100% {
        background: #81d4fa;
        transform: rotate(360deg);
    }
}