.mloader {
    width:48px;
    height:48px;
    display:inline-block;
    box-sizing:border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Flip Board*/
.flip-board {
    background: #FF5722;
    animation: flip-board 1.2s infinite ease-in-out;
}

@-webkit-keyframes flip-board {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        background: #FF5722;
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        background: #FF9800;
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        background: #FF5722;
    }
}

@-moz-keyframes flip-board {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        background: #FF5722;
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        background: #FF9800;
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        background: #FF5722;
    }
}

@keyframes flip-board {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        background: #FF5722;
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        background: #FF9800;
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        background: #FF5722;
    }
}