.mloader {
    width:48px;
    height:48px;
    display:inline-block;
    box-sizing:border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Square */

.s-red-500 {
    background: #f44336;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-pink-500 {
    background: #e91e63;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-purple-500 {
    background: #9c27b0;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-deep-purple-500 {
    background: #673ab7;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-indigo-500 {
    background: #3f51b5;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-blue-500 {
    background: #2196f3;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-light-blue-500 {
    background: #03a9f4;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-cyan-500 {
    background: #00bcd4;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-teal-500 {
    background: #009688;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-green-500 {
    background: #4caf50;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-light-green-500 {
    background: #8bc34a;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-lime-500 {
    background: #cddc39;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-yellow-500 {
    background: #ffeb3b;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-amber-500 {
    background: #ffc107;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-orange-500 {
    background: #ff9800;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-deep-orange-500 {
    background: #ff5722;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-brown-500 {
    background: #795548;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-blue-grey-500 {
    background: #607d8b;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-black {
    background: #000000;
    animation: square-anim 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-inside {
    width: 15px;
    height: 15px;
    margin: 0 auto;
    background: #fff;
    animation: square-anim 3s ease-in-out infinite;
}

@-webkit-keyframes square-anim {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@-moz-keyframes square-anim {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }

}


@keyframes square-anim {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }

}